/* すべてのページに適応される設定 */
html {
  font-size: 16px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

p, li td {
  line-height: 1.7;
}

a:link {
  color: #F07D34;
  text-decoration: none;
}

a:visited {
color: #F07D34;
}

a:hover {
  color: #F07D34;
  text-decoration: underline;
}

.logo {
  text-align: center;
}

.hero {
  text-align: center;
}

/* すべてのページに適用 ヘッダー */

/* すべてのページに適用 ヒーロー */

/* すべてのページに適用 メイン */
main h2 {
  color: #253958;
  font-size: 1.3rem;
}

/* すべてのページに適用 フッター */

.gotop {
text-align: center;
}

.copyright {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #253958;
  color: #FFFFFF;
  text-align: center;
}

/* 個別のスタイル */
/* index.html */

.logo-whale {
  text-align: center;
}
